.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #20232B;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 3rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 20px;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ccc;
}

body {
  background-color: black;
}

.logo-first {
  color: #A6A7AA;
}

.navigation-elements {
  color: #A6A7AA !important;
  font-size: 20px;
  margin-left: 5px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.action-item {
  color: #676767;
  width: 80%;
  padding: 10px 30px 10px 20px;
  margin: 10px 0px 10px 0px;
}

.action-item:hover {
  background-color: #F3FC8A;
  color: #444E06;
  cursor: pointer;
  border-radius: 15px;
}

.chat-action-li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.action-number {
  font-size: 15px;
  margin-top: 4px;
  font-weight: bold !important;
}

.action-text {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 15px;
  font-weight: bold !important;
  text-align: left;
}

.chat-actions {
  padding: 25px;
}

.action-item.chat-action-li {
  margin-bottom: 20px;
}

.icon-text-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.realtime-actions {
  gap: 20px;
}

.welcome-message {
  font-size: 15px;
  text-align: right;
  color: #B8BCC2;
}

.phone-info {
  color: #96989D;
  font-size: 10px;
  text-align: right;
}

.user-photo {
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.chat-content {
  background-color: #20232B;
  width: 100%;
  color: #A6A7AA;
  padding: 20px 20px 20px 20px;
}

.home-section {
  background-color: #20232B;
  width: 60%;
  color: #A6A7AA;
  padding: 20px 20px 20px 20px;
}

.thread-infos {
  width: 100%;
  background-color: #20232B;
  width: 60%;
}

label.first {
  position: relative;
  display: inline-block;
  width: 100%;
}

input[type="search"] {
  padding: 20px 15px 20px 50px;
  border: none;
  outline: none;
  color: #A6A7AA;
  width: 100%;
  font-size: 16px;
  background-color: #16171B;
  border-radius: 15px;
}

.icon {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 20px;
  color: #ccc;
}

.chat-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20232B;
  margin-top: 20px;
}

.chat-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-photo-in-chat {
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
  color: #DADCDE;
}

.user-phone {
  color: #A6A7AA;
  font-size: 12px;
  margin-top: -12px;
}

.user-message {
  margin-top: -5px;
}

.message-time {
  color: #A6A7AA;
  font-size: 15px;
  margin-top: 18px;
  align-self: flex-start;
}

.user-details {
  text-align: left;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.selected-user-info {
  background-color: #16171B;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

/* .selected-user-name{
  margin-left: -25px;
} */

.selected-user-photo {
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.selected-user-button {
  background-color: #272727;
  padding: 15px;
  color: #DADCDE;
  border: none;
  border-radius: 15px;
}

.user-name-header {
  color: #DADCDE;
}

.messages {
  height: 90.4%;
  background-color: #1D1E24;
  position: relative;
}

.send-message {
  position: absolute;
  bottom: calc(0px + 10px);
  width: 87%;
  left: calc(0px + 15px);
  right: calc(0px + 10px);
  padding: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #16171B;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.icons {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  gap: 5px;
}

.send-message-input {
  width: 69%;
  background-color: #16171B;
  border: none;
  color: #A6A7AA;
  outline: none;
}

.input-icons {
  padding: 5px;
}

.input-icons:hover {
  fill: #16171B;
  cursor: pointer;
  background-color: #F3FC8A;
  border-radius: 10px;
}

.me-message {
  text-align: left;
  background-color: #B785F5;
  width: 50%;
  right: 0;
  padding: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: #DADCDE;
  margin: 0 0 2% 40%;
}

.other-message {
  text-align: left;
  background-color: #16171B;
  width: 50%;
  color: #DADCDE;
  padding: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.message-content {
  position: relative;
}

.selected-user-photo-in-chat {
  width: 5px;
}

.user-in-chat {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.user-in-chat-time {
  font-size: 10px;
  margin-top: 10px;
}

.user-name-header-in-chat {
  margin-left: -5px;
  margin-top: 5px;
}

.other-user {
  margin-left: 2%;
  margin-top: 5%;
}

.message-content{
  height: 340px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 0 0 0;
}
